@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Merriweather:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
}
/* header star */
.tex-header {
  display: block;
  width: 632px;
  margin: 0 auto;
}

.header {
  display: block;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(/imges/banner\ Image.png);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 50px;
  padding: 0px 140px;
  border: 2px solid red;
  
}
.parent-text {
  margin: auto;
  width: 50%;
  padding: 192px 0;
}
.header-h-4 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
}

.header-h-1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}

/* header end */

/* section-1 star */
.section-1 {
  width: 1600px;
  height: 900px;
  background: #fff;
  border: 2px solid red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.section-text-1 {
  margin: auto;
  width: 50%;
  padding: 70px;
  text-align: center;
}
#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.section-h-1 {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  padding-bottom: 48px;
}
.section-h-4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 5px;
}
#section-h-3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
/* section-1 end */

/* section-2 star */

.section-2 {
  display: block;
  width: 1320px;
  height: 600px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("/imges/vectorrr.png");
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 100px;
  padding: 0px 140px;
  border: 2px solid red;
  
}
#img-2024 {
  display: inline-block;
   margin-top: 52px;
  margin-left: 184px; */
  
}

.scetion-text-2 {
  padding: 10px;
  text-align: start;
  color: white;
  float: left;
  margin-top: 123px;
  margin-left: 42px;
}
.sction-2-h-1 {
  width: 642px;
  color: #fff;
  font-family: Merriweather;
  font-size: 70px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.section-2-dep {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 45px;
}
.sction-2-h-6 {
  color: #fff;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 32px;
}

/* section-2 end */

/* section-3 star */

.section-3 {
  display: block;
  width: 1320px;
  height: 482px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 0px 140px;
  margin-bottom: 100px;
  border: 2px solid red;
}

.section-text-3 {
  padding: 202px 386px 214px 385px;
  text-align: center;
}
.section-3-dep {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.section-span {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}

button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  margin-top: 25px;
}
#section-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/* section-3 end */

/* section-h-4 star */
.section-4-parent {
  display: flex;
  width: 1600px;
  height: 735px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
}
.boder-box-4 {
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 463px;
  height: 463px;
  border-radius: 463px;
  border: 15px solid #f00;
}
.section-4-img {
  position: absolute;
  bottom: 20px;
  left: 45px;
  right: 0;
  top: 50px;
  width: 364px;
  height: 364px;
  border-radius: 364.844px;
  background: url(/imges/ellipse\ 1.png),
    lightgray -91.279px 0px / 150.038% 100% no-repeat;
    border: 2px solid red;
}
.section-4-h-3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 6px;
}

.section-4-h-1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.section-d-dep {
  width: 393px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-top: 0;
}
.section-4-right-text{
color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-bottom: 16px;

}

.section-dep{
  width: 276px;
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; 
}
#group-96{
  width: 140px;
  height: 140px;
  margin-top: 46px;
}
/* section-4 end */

/* section-5 star */

.section-5-parent{
  display: block;
  width: 1600px;
  height: 1000px;
  background: #FFF;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
  margin-top: 100px;
}
.section-5-text{
  text-align: center;
}
.section-5-h-4{
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}
.section-5-h-2{
  color: #F00;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
margin-bottom: 28px;

}
.section-5-dep{
width: 1068px; 
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px; /* 160% */
margin-right: auto;
margin-left: auto;

}
#section-5-img-box{
  display: block;
  width: 1600px;
  height: 735px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('/imges/al\ dis.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

  
}

/* section-5 end */


/* section-6 star  */

#section-6-shopping{
  width: 1600px;
  height: 1154px;
  border:2px solid red ;
  background-color: #FFF;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 100px;
  display: flex;
  
 
 
}

.section-6-text{
  text-align: left;
  margin-left: 10px;
}
.section-6-h3{
color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 5px;
}
.section-6-h2{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin-bottom: 20px;
}
.section-6-dep{
width: 896px;
 color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; 
margin-bottom: 45px;
}
#section-6-img-box1{
  display: flex;
  gap:24px ;
  
}
.se-6-img{
  margin-top: 20px;
  
}