@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Merriweather:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
}
/* header star */
.tex-header {
  display: block;
  width: 632px;
  margin: 0 auto;
}

.header {
  display: block;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(/imges/banner\ Image.png);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 50px;
  padding: 0px 140px;
}
.parent-text {
  margin: auto;
  width: 50%;
  padding: 192px 0;
}
.header-h-4 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
}

.header-h-1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}

/* header end */

/* section-1 star */
.section-1 {
  width: 1600px;
  height: 900px;
  background: #fff;
}
.section-text-1 {
  margin: auto;
  width: 50%;
  padding: 70px;
  text-align: center;
}
#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.section-h-1 {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  padding-bottom: 48px;
}
.section-h-4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 5px;
}
#section-h-3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
/* section-1 end */

/* section-2 star */

.section-2 {
  display: block;
  width: 1320px;
  height: 600px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("/imges/vectorrr.png");
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 100px;
  padding: 0px 140px;
}

.scetion-text-2 {
  padding: 10px;
  text-align: start;
  color: white;
  float: left;
  margin-top: 120px;
  margin-left: 110px;
}
.sction-2-h-1 {
  width: 642px;
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.section-2-dep {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 45px;
}
.sction-2-h-6 {
  color: #fff;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 32px;
}
